.post_listed_title{
    a{
        font-size: 30px;
        color: $font_color_second;
        text-transform: uppercase;
    }
}
.main_title{
    padding: 0 15px;
    h1{
        width: 100%;
        margin-bottom: 30px;
        color: $font_color_third;
        border-bottom: 1px $font_color_third solid;
    }
}
.pagination{
    font-family: Miller-Bold;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    .current{
        border: 3px $font_color_second solid;
        border-radius: 50%;
        display: inline-block;
        margin: 0 10px;
        width: 49px;
        height: 49px;
    }
    .page-numbers{
        color: $font_color_third;
        margin: 0 10px;
    }
    @media(max-width:768px){
        font-size: 16px;
        .current{
            width: 37px;
            height: 37px;
            padding-top: 4px;
        }
        .page-numbers{
            margin: 0 7px;
        }
    }
}
.all_post_listed{
    .clearfix{
        margin-bottom: 30px;
    }
}
//STANDARD PAGE
.standard_page{
    .main_title_post{
        h1{
            text-transform: uppercase;
            font-family: Miller-Bold;
            color: $font_color_third;
            border: 0;
        }
    }
    .author_post{
        position: relative;
        h2{
            display: inline-block;
            position: relative;
            border: none;
            text-transform: none;
            color: $font_color_third;
            font-family: Miller;
            margin: 0;
            padding: 10px 15px;
            background: white;
            z-index: 4;
        }
        .post_author_lines{
            height: 1px;
            background: $font_color_third;
            width:100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0,-50%);
            z-index: 3;
        }
    }
    .post_content{
        text-align: center;
        margin-top: 30px;
        p{
            font-size: 16px;
        }
    }
}
.page_content{
    text-align: center;
}